[Desktop Entry]
Name=Thunderbird
GenericName=Groupware Suite
X-GNOME-FullName=Thunderbird Mail and Calendar
Comment=Manage your email, contacts and schedule
Exec=/opt/thunderbird/thunderbird
Icon=/opt/thunderbird/chrome/icons/default/default256.png
Terminal=false
Type=Application
Categories=Office;Email;Calendar;ContactManagement;
StartupNotify=true
MimeType=text/calendar;text/x-vcard;text/directory;application/mbox;message/rfc822;x-scheme-handler/mailto;
